.cart{
    display: grid;
    grid-template-areas: "image" "title" "button1" "button2";
    grid-template-columns: 90%;
    justify-content: center;
    align-items: center;
}

.cart__img{
    width: 90vw;
    object-fit: contain;
    padding-top: 5%;
}

.cart__item2{
    font-size: 28px;
    font-weight: bold;
}

.cart__item3{
    margin: 5%;
}
.cart__item4{
    margin: 5%;
}

.cart__item3-btn{
    background-color: rgb(255,153,0);
    width: 100%;
    border: 0px;
    border-radius: 5px;
    font-size: 30px;
}