.Cart2{
    padding: 15px;
    }
    .Cart2__item2{
        margin: 5%;
    }
    .Cart2__item2-btn{
        width:90%;
        background-color: rgb(255,153,0);
        border: 0px;
        border-radius: 5px;
        font-size: 18px;
    }
    .Cart2__cont2{
        display: grid;
        grid-template-areas: "imag title" "imag txt";
        grid-template-columns: 25% 75%;
        grid-template-rows: 25% 75%;
    }
    .Cart2__cont2-sub1-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .Cart2__cont2-sub1{
        grid-area: imag;
    }
    .Cart2__cont2-sub2{
        grid-area: title;
    }
    .Cart2__cont2-sub2>p{
        font-size: 18px;
        font-weight: bold;
    }
    .Cart2__cont2-sub3{
        grid-area: txt;
    }
    .Cart2__item4-img{
        width: 50%;
        height: 50%;
        object-fit: cover;  
    }