.notFound{
    width: 300px;
    text-align: center;
    padding: 20px;
}
.productsResultSearch{
    display: grid;
}
.prod1{
    display: grid;
    grid-template-areas: "filter desp" "title title" "produ1 produ1" "produ2 produ2";
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;
}
.prod1__item1{
    grid-area: filter;
    margin:5%;
}
.prod1__item2{
    grid-area: desp;
    margin:5%;
}
.prod1__item3{
    grid-area: title;
    background-color: rgb(28,25,25);
    color: white;
    font-size: 12px;
    height: 36px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.prod1__cont2{
    grid-area: produ1;    
    display: grid;
    grid-template-areas: "imag title" "imag txt";
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 75%;
    margin:5%;
}
.prod1__cont2-sub1-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prod1__cont2-sub1{
    grid-area: imag;
}
.prod1__cont2-sub2{
    grid-area: title;
}
.prod1__cont2-sub2>p{
    font-size: 18px;
    font-weight: bold;
}
.prod1__cont2-sub3{
    grid-area: txt;
}
.prod1__cont3{
    grid-area: produ2;
    display: grid;
    grid-template-areas: "imag title" "imag txt";
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 75%;
    margin:5%;
}
.prod1__cont3-sub1{
    grid-area: imag;
}
.prod1__cont3-sub2{
    grid-area: title;
}
.prod1__cont3-sub2>p{
    font-size: 18px;
    font-weight: bold;
}
.prod1__cont3-sub3{
    grid-area: txt;
}