.prod4{
    display:grid;
    grid-template-areas: "filter price" "bn1 bn1" "bn2 bn2" "bn3 bn3";
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;

}
.prod4__item-btn{
    width:90%;
    background-color: rgb(255,153,0);
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
}
.prod4__item1{
    grid-area: filter;
    margin: 15px;
}
.prod4__item2{
    grid-area: price;
    margin: 15px;
}
.prod4__item3{
    grid-area: bn1;
    margin: 15px;
}
.prod4__item4{
    grid-area: bn2;
    margin: 15px;
}
.prod4__item5{
    grid-area: bn3;
    margin: 15px;
}