.prod{
    display:grid;
    grid-template-areas: "filter price" "amount amount";
    grid-template-columns: 45% 45%;
    justify-content: center;
    align-items: center;

}
.prod__item1{
    grid-area: filter;
}
.prod__item2{
    grid-area: price;
}
.prod__cont2{
    grid-area: amount;
    border: 1px  solid black;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 25vh;
}
.prod__sub2 > input{
    width:90%;
}
.prod__sub2-btn{
    width:90%;

    background-color: rgb(255,153,0);
    border: 0px;
    border-radius: 5px;
    font-size: 10px;
}
