.prodtl__item2-img{
    width: 100vw;
    object-fit: contain;
}
.prodtl__item3-img{
    width: 50%;
    height: 50%;
    object-fit: cover;  
}
.prodtl__item4{
    grid-area: bn2;
    margin: 15px;
}


