.SpinnerAtom{
    display:flex;
    align-items:center;
    justify-content:center;
}
.SpinnerAtom__btn1{
    border: solid black 2px;
    width: 43px;
    height: 36px;	
    border-radius: 5px 0px 0px 5px;	
    outline: none;	
}
.SpinnerAtom__btn2{
    border: solid black 2px;
    width: 43px;
    height: 36px;
    border-radius: 0px 5px 5px 0px;	
    outline: none;							
}
.SpinnerAtom__num{
    width: 50px;
    height: 30px;	
    text-align:center;
    font-size: 30px;	
    border: 2px solid black;
    color: rgb(0, 0, 153);
    outline: none;							
}
