.BannerAtom{
    background-color: rgb(28,25,25);
    color: white;
    font-size: 16px;
    height: 45px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 8px;
}