.Card-product-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(240,240,240, 0.7);
    margin-bottom: 15px;
}
.shopping-cart__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Card-cart__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: 275px;
    height: 60PX;
}
.Card-cart__image{
    height: 100%;
    text-align: center;
}
.Card-cart__image img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.Card-cart__info{
    display: flex;
    flex-direction: column;
    height: 70px;
    margin-left: 10px;
    justify-content: space-around;
}
.Card-cart__delete{
    width: 30px;
    height: 50px;
}
.Card-cart__title{
    width: 170px;

}
.Card-cart__delete{
    width: 30px;
    height: 100%;
    display: flex;
}


.SpinnerAtom{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom: 10px;
}
.SpinnerAtom__btn1{
    border: solid black 2px;
    width: 43px;
    height: 36px;	
    border-radius: 5px 0px 0px 5px;	
    outline: none;	
}
.SpinnerAtom__btn2{
    border: solid black 2px;
    width: 43px;
    height: 36px;
    border-radius: 0px 5px 5px 0px;	
    outline: none;							
}
.SpinnerAtom__num{
    width: 50px;
    height: 30px;	
    text-align:center;
    font-size: 30px;	
    border: 2px solid black;
    color: rgb(0, 0, 153);
    outline: none;							
}