.CheckOut {
    display: flex;
    justify-content: center;
    width: 100%;
}

.CheckOut-form-address{
    display: flex;
    flex-direction: column;
}

.CheckOut-form-address label{
    display: grid;
    grid-template-columns: 35% 65%;
    margin: 10px 0px;
}
.CheckOut-container{
    width: 330px;
}