@media only screen and (min-width: 320px){

    .products-list-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: initial;
    }
}

@media only screen and (min-width: 700px){

    .products-list-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: initial;
    }
}