.Card-product{
    display: contents;
    width: 70%;
}

.Card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    max-width: 120px;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: rgba(240,240,240, 0.7);
}
.Card-image{
    width: 100%;
    text-align: center;
}
.Card-image img{
    width: 120px;
    object-fit: cover;
}

.Card-add-to-cart {
    align-self: center;
}

.Card-add-to-cart button{
    height: 35px;
    width: 110px;
    padding: 5px;
    margin: 10px;
}