.Search-by-name{
    width: 90%;
    height: 45px;
    display: flex;
    justify-self: center;
}
.SearchBtn{
    width: 44px;
    height: 38px;
    object-fit: cover;
    border: solid;
    margin-left: 5px;
    border-radius: 5px;
}

.SearchInput{
    width: 100%;
    height: 45px;
}