@import '../Variables.styl'
    
.Main
    width 100%
    justify-content center
    margin 150px 0 0 0

@media only screen and (min-width 600px) and (max-width 1200px) 
    .Main
        margin 190px 0 0 0

@media only screen and (min-width 1200px) 
    .Main
        margin 160px auto 0 auto   
        width 1200px   
        justify-content center