@import 'Variables.styl'
@import 'Header.styl'
@import 'Footer.styl'
@import 'Main.styl'

*
  text-decoration none
  list-style none

body
  font-family $font-family
  font-size $font-size
  background-color  $background-color
  display flex
  flex-direction column
#toggle 
    display none

@media only screen and (min-width 600px) and (max-width 900px) 
  body
    font-size $font-size-medium


@media only screen and (min-width 900px) 
  body
    font-size $font-size-big








