$font-family = 'Lato','Oswald','sans-serif'
$font-size-burguer = 25px
$background-color = #FFFFFF
$background-menu = #EEEEEE
$background-search = #EEEEEE
$text-color = #000000
$button-color = #D1D634
$button-color-secondary = #DFE438
$blue3 = #416D80
$blue2 = #05C4E6;
$google = #FFF
$grey1 = #dddddd

$font-size = 13px
$width-gallery = 280px
$height-gallery = 180px
$font-size-search = 15px
/*
* Medium Sizes
*/
$font-size-medium = 16px
$width-gallery-medium =  448px
$height-gallery-medium = 288px
$font-size-search-medium = 16px
/*
* Big Sizes
*/
$font-size-big = 23px
$width-gallery-big = 560px
$height-gallery-big = 360px
$font-size-search-big = 23px

