.hd1{
    grid-column: 1/7;
    padding-left: 100px;
}
.wrapper{

    background: rgb(238,238,238);
    border-radius: 5px;
    padding: 1px;
    display: flex;
    width: 90%;	
}  
.glass{

    top: 6px;
    left: 8px;
    width: 28px;
}
.input{

    background: rgb(238,238,238);
    border:0px;
    color: black;	
    padding-left: 5px;	
    height: 90%;
    width: 100%;		
}

@media screen and (max-width:1920px) and (min-width:480px){	

    .hdr{
        display: grid;
        grid-template-columns: 18% 16% 16% 16% 16% 18%;
        grid-template-rows: auto auto;	
        
        //background-color: red;
        //border: 5px solid rgb(102, 0, 102);

        text-align: center;			
    }		
    .hdh{
        text-decoration:none;	
        padding: 30px;		
        color: black;
    }
    .hd{
        display: none;		
    }
}
  @media screen and (max-width:480px){
    .hdh{
        display: none;
    }
    .hdr{
        display: grid;
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: auto auto;	
        
        //background-color: red;
        //border: 5px solid rgb(102, 0, 102);

        text-align: center;			
    }
}	